<!DOCTYPE html>
<html>
<head>
  <title>Select Dress Type</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2>Select Dress Type</h2>
    <form method="POST" action="/dress">
      <select name="dressType" required>
        <option value="">-- Select Dress Type --</option>
        <option value="shirt">Shirt</option>
        <option value="pant">Pant</option>
        <option value="blouse">Blouse</option>
        <option value="salwar">Salwar</option>
        <option value="suit">Suit</option>
        <option value="lehenga">Lehenga</option>
      </select><br>
      <button type="submit">Next</button>
    </form>
  </div>
</body>
</html>
