<!DOCTYPE html>
<html>
<head>
  <title>Select Gender</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2>Select Gender</h2>
    <form method="POST" action="/gender">
      <label>
        <input type="radio" name="gender" value="male" required> Male
      </label><br>
      <label>
        <input type="radio" name="gender" value="female" required> Female
      </label><br>
      <label>
        <input type="radio" name="gender" value="other" required> Other
      </label><br>
      <button type="submit">Next</button>
    </form>
  </div>
</body>
</html>
