<!DOCTYPE html>
<html>
<head>
  <title>Measurements</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2>Enter Measurements</h2>
    <form method="POST" action="/measurements">
      <input type="text" name="chest" placeholder="Chest (in inches)" required><br>
      <input type="text" name="waist" placeholder="Waist (in inches)" required><br>
      <input type="text" name="hip" placeholder="Hip (in inches)" required><br>
      <input type="text" name="shoulder" placeholder="Shoulder Width (in inches)" required><br>
      <input type="text" name="length" placeholder="Dress Length (in inches)" required><br>
      <button type="submit">Next</button>
    </form>
  </div>
</body>
</html>
